body {
background-color:rgb(252, 215, 159);

}


.navbar {
  background-color: rgb(244, 189, 118);
}

ul {
  list-style-type: none;
}

.img2{
  float:right
}
h3{
  float:right;
  color:rgb(241, 137, 10)
}
